/*************************************************/
/* SCREEN BREAKPOINTS */
$grid-breakpoints: (
        xs: 0,
        xxs: 420px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xsl: 1366px,
        xxl: 1700px,
);

/*************************************************/
/* FONTS */
$font-sans-serif: 'Cartograph CF', sans-serif;
$font-sans-serif-xx: 'Cartograph CF', sans-serif;
$font-size-root: 16px;

/*************************************************/
/* COLORS */
$c-white-1: #f9f9f9;
$ice-white: #e9ecef;
$red: #e72f01;
$gray: #F5F5F5;
$gray-dark: #999493;
$gray-light: #FAFAFA;
$black: #342A25;
$smoke-black: #2F2F2F;
$jet-black: #2F2F2F;
$ice-black: #5A5B5E;
$charcoal-black: #1C1C1C;
$gray-darker: rgba(0, 0, 0, 0.6);

$colors: (
        'white-1': $c-white-1,
        'red' : $red,
        'gray': $gray,
        'gray-dark': $gray-dark,
        'gray-darker': $gray-darker,
        'gray-light': $gray-light,
        'black': $black,
        'smoke-black' : $smoke-black,
        'jet-black' : $jet-black,
        'ice-black' : $ice-black,
        'ice-white' : $ice-white,
        'charcoal-black' : $charcoal-black,
);


@each $name, $color in $colors {
  .c-#{$name} {
    color: #{$color};
  }

  .bg-#{$name} {
    background-color: #{$color};
  }
}

/*************************************************/
/* IMAGES */
$images: '../images';
$fonts: '../fonts';

/*************************************************/
/* SPACINGS */
$gutter: 60px;
$gutter-md: 30px;
$gutter-sm: 15px;

$input-height: 35px;
$screen-inner-content: 1000px;

$letter-spacing: 0.4em;
$letter-spacing-md: 0.2em;
$letter-spacing-sm: 0.1em;
$letter-spacing-xs: 0.05em;
